<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contacto</li>
  </ol>
</nav>
<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control mb-4">
  <label>Correo</label>
  <input type="email" class="form-control mb-4">
  <label>Mensaje</label>
  <textarea style="resize:none" class="form-control mb-4"></textarea>
  <hr>
  <a class="btn btn-primary  mr-3" href="#" role="button">Enviar</a>
  <a class="btn btn-outline-secondary" routerLink="/lugares" role="button">Cancelar</a>
</div>
