<app-maps></app-maps>
<hr>
<div id="cuadrado" [@contenedorAnimable]='state' (@contenedorAnimable.start)="animacionInicia($event)" (@contenedorAnimable.done)="animacionTermina($event)"></div>

<a class="btn btn-outline-secondary" href="javascript:void(0)" (click)="animar()">Animar</a>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares Cercanos</h2>
      <a class="btn btn-primary my-3" routerLink="/crear/new">Crear Nuevo Negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <li class="list-group-item">
            <a routerLink="/crear/{{lugar.id}}"><h3>{{ lugar.nombre }}</h3></a>
            <small>Creado: {{ lugar.date | date: "mediumTime" | uppercase}}</small>
            <p [innerHtml]="lugar.descripcion | linkifystr"></p>
            <!-- <a href="javascript:void(0)"><span class="float-right" (click)="eliminar(lugar)"><fa-icon [icon]="faTrashAlt"></fa-icon></span></a> -->
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>
