<app-maps></app-maps>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares Cercanos</h2>
      <a class="btn btn-primary my-3" routerLink="/crear/new">Crear Nuevo Negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <li class="list-group-item"><a routerLink="/crear/{{lugar.id}}">{{ lugar.nombre }}</a>
            <span class="float-right"  (click)="eliminar(lugar)"><fa-icon [icon]="faTrashAlt"></fa-icon></span></li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>
